* {
    margin:0; 
    padding: 0; 
}

.container {
  margin-top: 25px; 
  max-width: 960px;
  margin-left: auto; 
  margin-right: auto; 
  padding-top: 25px; 
  background-color: #BADA55;
  position:relative; 
  font-family: 'Roboto', sans-serif; 
  text-align:center; 
}

/* STEP ONE - check out the anchor element <a> in your browser. What do you notice about how the anchor elements are displayed by default? */



/* STEP TWO - try to set a height and width on <a>. What happens? */ 

a { 
  text-decoration:none; 
  color: #000; 
  font-size: 36px; 
  width: 150px; 
  box-sizing:border-box;
  height: 50px; 
  border: 4px solid #000; 

}


/* STEP THREE - Make each <a> element appear on a separate line */ 

a {
  display:block;
}


/* STEP FOUR - add a margin-top of 20px and a margin-bottom of 30px. What will the margin be between the two boxes? */

a {
  margin-top: 20px; 
  margin-bottom: 30px; 
}

/*STEP FIVE - make each <a> element appear on the same line, but have the aility to set the width and the height */ 

a {
  display: inline-block; 
}


/* STEP SIX - without using the inspector tool, what do you think the width of <a> will be? */


 /* STEP SEVEN - add this declaration: box-sizing:border-box; to <a>. What will the width of <a> be now? */ 

 /* 150px */ 







